// Variables

$sonicRed: #ec1c2e;
$sonicBlue: #005caa;
$sonicBlueDark: #3b4e60;
$gutter: 20px;

// Global

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);

html, body {
	width: 100%;
	height: 100%;
}

body { 
  background: url(../images/clouds-background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: $sonicBlueDark;
  text-align: center;
}

section {
	margin: 0px auto;
	margin-bottom: $gutter !important;
}

h1, h3 {
	font-weight: 700;
	margin: 0px;
	padding: 0px;
}

p {
	font-weight: 400;
	margin: 0px;
	padding: 0px;
}

.light {
	font-weight: 300;
}

// Logo Section

#logo {

	width: 75%;
	margin: 0px auto;
	margin-top: $gutter;

	.sonicLogo {
		max-width: 120px;
	}

}

// Offer Text Section

#offerText {

	h1 {
		font-size: 24px;
	}

}

// Top Legal Section

#topLegal {
	
	p {
		font-size: 12px;
		margin-top: -$gutter/2;
	}

}

// Offer Image Section

#offerImage {

	.offerImage {
		max-width: 200px;
	}

}

// Main legal Section

#mainLegal {
	
	p {
		font-size: 12px;
	}

}

// Refer a Friend Button Section

#referButton {
	
	a {
		text-decoration: none;
		text-transform: uppercase;
		font-size: 24px;
		font-weight: 700;
		color: #fff;
		background: $sonicRed;
		padding: $gutter/2 $gutter;
		border-radius: 4px;
		-webkit-box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.35);
		-moz-box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.35);
		box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.35);
	}

}

// Expiration Text Section

#expiration {
	
	p {
		color: $sonicRed;
		font-size: 14px;
	}

}

// ---------------------------------------------------------

// Refer a Friend Specific Sections

// ---------------------------------------------------------

// Progress Text

#progressText {

	h3 {
		font-weight: 400;
	}

	span {
		font-weight: 700;
	}

}

// Progress Bar

#progressBar {
	
	min-height: 35px;
	float: center;
	text-align: center;
	margin: 0px auto;
	width: 100%;
	border: 2px solid $sonicBlue;
	border-radius: 25px;
	background: none;
	color: #fff;

	.progress {
		float: left;
		min-height: 30px;
		border: 3px solid #fff;
		text-align: center;
		margin: 0px auto;
		width: 40%;
		border-radius: 25px;
		background: $sonicBlue;
		font-size: 14px;
		line-height: 22px;
	}

}

// Share Buttons

#shareButtons {

	.row {
		margin: 0px auto;
		padding: 0px;
		text-align: center;
	}

	.centered {
		float: none;
		margin: 0 auto;
	}

	.button {
		border-radius: 4px;
		font-size: 12px;
		color: #fff;
		padding: 4px 20px;
		text-decoration: none;
		width: 70px;
		box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
		margin: 0px auto;
	}

	#facebook {
		.button {
			background-color: #3B5998;
			background-image: url('http://i.imgur.com/6LBKUKf.png');
			background-repeat: no-repeat;
			background-position: 15% 45%;
			background-size: 6px;
			padding-left: 27px;
			display: block;
		}
	}

	#twitter {
		.button {
			background-color: #55acee;
			background-image: url('http://i.imgur.com/DzbV4JZ.png');
			background-repeat: no-repeat;
			background-position: 12% 50%;
			background-size: 15px;
			padding-left: 30px;
			display: block;
		}
	}

	#sms {
		.button {
			background-color: #60B561;
			background-image: url('http://i.imgur.com/q8JjQLf.png');
			background-repeat: no-repeat;
			background-position: 20% 50%;
			background-size: 15px;
			padding-left: 35px;
			display: block;
		}
	}

}















































